{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Home {% endblock %}


{% block body %}

<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3">
                <h2>Manage Tasks <button type="button" class="btn btn-success float-right"
                data-toggle="modal" data-target="#mymodal">Add New Task</button></h2>

                <table class="table table-hover table-dark">
                    <tr>
                        <th>ID</th>
                        <th>To-do task</th>
                        <th>Action</th>
                    </tr>

                    {% for row in listedtask %}


                    <tr>
                        <td>{{row.id}}</td>
                        <td>{{row.task}}</td>
                        <td>
                            <a href="/edit/{{row.id}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#editmodal{{row.id}}">Edit</a>
                            <a href="/delete/{{row.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure you want to delete?')">Delete</a>
                        </td>
                    </tr>

                     <div id ="editmodal{{row.id}}" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal=header">
                            <h4 class="modal-title">Edit task</h4>
                        </div>
                        <div class="modal-body">
                            <form action="{{url_for('edit')}}" method="POST">

                                <div class="form-group">
                                    <label>Name:</label>
                                    <input type="hidden" name="id" value="{{row.id}}">
                                    <input type="text" class="form-control" name="task" value="{{row.task}}">
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit">Edit</button>
                                </div>
                            </form>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>
                    {% endfor %}
                </table>
            </div>

            <div id ="mymodal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal=header">

                            <h4 class="modal-title">Add task</h4>
                        </div>
                        <div class="modal-body">
                            <form action="{{url_for('insert')}}" method="POST">

                                <div class="form-group">
                                    <label>Task:</label>
                                    <input type="text" class="form-control" name="task" required="1">
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit">Add New Task</button>
                                </div>
                            </form>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>



        </div>
    </div>
</div>





{% endblock %}
